body {
  background-color: aqua;
}

#container1 .style1 {
  font-family: "lemon", cursive;
  font-size: 100%;
  color: black;
  text-align: center;
  line-height: 1em;
}

#container1 .style2 {
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-align: center;
  line-height: 1em;
}
