.ferretstep1 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}

.ferretstep2 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: middle;
  margin: 0 15px 15px 0;
}
.ferretstep3 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: right;
  margin: 0 15px 15px 0;
}
.ferretstep4 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}
.ferretstep5 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}
.ferretstep6 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}
.ferretstep7 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}
.ferretstep8 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}
.ferretstep9 {
  width: 100px;
  height: 100px;
  background-color: #999;
  float: left;
  margin: 0 15px 15px 0;
}

.grid {
  display: flex;
  flex-direction: column;
}
